<!DOCTYPE html>

<!--==============================================
            Profile Creation Page
================================================-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Create Profile Page Title -->
        <title>Create your profile!</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <!-- Custom Font and CSS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/app.css"/>

        <!-- Favicons -->
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="shortcut icon" href="/icons/favicon.png">

        <!-- Validate Form (Artist 1, Artist 2, Artist 3) -->
        <script>
            function validateForm() {
                var artist1 = document.forms["artistsForm"]["artist1"].value;
                if (artist1 == "") {
                    alert("Artist 1 must be filled out!");
                    return false;
                }
                var artist2 = document.forms["artistsForm"]["artist2"].value;
                if (artist2 == "") {
                    alert("Artist 2 must be filled out!");
                    return false;
                }
                var artist3 = document.forms["artistsForm"]["artist3"].value;
                if (artist3 == "") {
                    alert("Artist 3 must be filled out!");
                    return false;
                }
            }
        </script>
    </head>

    <body>
        <!-- Main Page -->
        <section id="cover">
            <div class="section-content">
                <div class="container">
                    <div class="row">
                        <!-- Profile Creation Text -->
                        <div class="col-md-4 cover-text">
                            <h1 class="mb-3">Profile Creation</h1>
                            <p>Create your own personal profile by entering your three favourite artists!</p>
                            <p><strong>Make sure the artist name you enter is the correct stage name for that particular artist!</strong></p>
                        </div>
                        <!-- Profile Preferences -->
                        <div class="col-md-4 offset-md-4 cover-text">
                            <h1 class="mb-3">Enter artist names:</h1>
                            <!-- Top Artists Form (POST) -->
                            <form method="POST" action="/addArtist" name="artistsForm" onsubmit="return validateForm()">
                                <input type="hidden" name="username" value="<%= user_info %>">
                                <div class="form-group">
                                    <label for="artist1">Artist 1:</label>
                                    <input type="artist1" name="artist1" class="form-control" id="exampleInputEmail1" aria-describedby="artist1" placeholder="Khalid">
                                </div>
                                <div class="form-group">
                                    <label for="artist2">Artist 2:</label>
                                    <input type="artist2" name="artist2" class="form-control" id="exampleInputEmail1" aria-describedby="artist2" placeholder="Coldplay">
                                </div>
                                <div class="form-group">
                                    <label for="artist3">Artist 3:</label>
                                    <input type="artist3" name="artist3" class="form-control" id="exampleInputEmail1" aria-describedby="artist3" placeholder="Drake">
                                </div>
                                <button type="submit" class="btn btn-primary mb-5">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main Footer -->
        <footer id="footer-main">
            <div class="container">
                <div class="row d-flex justify-content-center"">
                    <div class="col-sm-3">
                        <p>Coded by Preetham Jayaram</p>
                    </div>
                    <!-- Social Links -->
                    <div class="col-sm-3">
                        <ul class="list-unstyled">
                            <p>Connect with me!</p>
                            <li><a href="https://github.com/Preetham-J">GitHub</a></li>
                            <li><a href="https://www.linkedin.com/in/preetham-jayaram/">LinkedIn</a></li>
                        </ul>
                    </div>
                    <!-- Spotify Mention -->
                    <div class="col-sm-3">
                        <h6>This web application uses the Spotify Web API.</h6>
                        <img class="img-responsive" src="/img/spotify_logo.png" alt="Spotify Logo">
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>

