/*==============================================
    Style Sheet - Used on all EJS templates
================================================*/

html,
body {
    height: 100%;
    font-family: 'Roboto', 'Open Sans', serif;
}

.playlist-image {
    max-width: 100%;
}

.icon {
    max-width: 60%;
}

/* Image and Text Styling */
.img-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section-content {
    padding: 5rem 0;
}

/* Cover (used on all pages) */
#cover {
    background: #222 url('img/grapevine.jpeg') center center no-repeat;*/
    background-size: cover;
    height: 80%;
}

.cover-text {
    background: rgba(0,0,0,0.8);
    border-radius: 25px;
    color: white;
    padding: 1.875rem;
    line-height: 2.0;
}

/* Footer (used on all pages) */
#footer-main {
    background: #222;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 2.5rem 0;
}

/* Font size responsiveness based on screen size */
/* < 768 */
@media all and (max-width: 767px) {
    body {
        font-size: 0.8em;
    }
    #cover {
        height: 100%;
    }
    .section-content {
        padding: 1rem 0;
    }
    .btn {
        font-size: 0.8em;
    }
    h1 {
        font-size: 1.9em;
    }
    h3 {
        font-size: 1.0em;
    }
    #footer-main {
        font-size: 0.70em;
    }
}

/* 768 to 991 */
@media all and (min-width: 768px) {
    body {
        font-size: 0.6em;
    }
    #cover {
        height: 100%;
    }
    .section-content {
        padding: 2rem 0;
    }
    .btn {
        font-size: 0.8em;
    }
    h1 {
        font-size: 2.1em;
    }
    h3 {
        font-size: 1.2em;
    }
    #footer-main {
        font-size: 0.75em;
    }
}

/* 992 to 1200 */
@media all and (min-width: 992px) {
    body {
        font-size: 0.8em;
    }
    .btn {
        font-size: 0.8em;
    }
    h1 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 1.4em;
    }
    #footer-main {
        font-size: 0.80em;
    }
}

/* > 1200 */
@media all and (min-width: 1200px) {
    body {
        font-size: 1.0em;
    }
    .btn {
        font-size: 1.0em;
    }
    h1 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.6em;
    }
    #footer-main {
        font-size: 0.95em;
    }
}